.text-primary {
  color: #F8921D !important;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

.align-center {
  display: flex;
  align-items: center;
}

.card-app {
  width: 315px;
  height: 180px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  margin-top: 16px;
  margin-right: 25px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header-app {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: space-between;
}

.avatar img {
  width: 24px;
  /* Adjust size as needed */
  height: 24px;
  /* Adjust size as needed */
}

.settings {
  color: grey;
}

.settings-icon {
  width: 20px;
  /* Adjust size as needed */
  height: 20px;
  /* Adjust size as needed */
}


.description-app {
  margin: 4px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 3.6rem;
  line-height: 1.8em;
  /* Limit to 2 lines */
}

.card-actions {
  padding: 16px;
}

.test-app-button {
  display: flex;
  flex-direction: row-reverse;
}

.test-app {
  background-color: #29AF9F;
  /* Replace with your primary color */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  display: flex;
  align-items: center;
}




/* --------------- FEEDBACK  ------------- */
.modal {
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1500;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 80%;
  border-radius: 20px;
  border-color: #ffc87f;
  border: 1px
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-weight: 400;
  margin: 5px 0px;
}

.modal-description {
  margin: 0px;
  font-size: 18px;
  margin-top: 15px;
}

.modal-radio-buttons {
  font-size: 55px !important;
  color: #00000099;
  margin: 10px 12px;
  cursor: pointer;
}

.modal-close-button {
  background: none;
  border: none;
  color: #00000099;
  font-size: 23px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

.rating {
  display: flex;
  padding: 20px 0;
}

.modal-icon {
  font-size: 60px;
  padding-right: 5px;
}

.submit-button {
  background-color: #F8921D;
  /* Replace with your primary color */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  align-self: center;
  width: 50%;
}

.floating-button {
  position: fixed;
  right: -40px;
  /* Adjust as needed */
  top: 50%;
  /* Center vertically */
  transform: rotate(-90deg);
  /* Combined rotation and translation */
  /* Center the button */
  z-index: 1000;
  /* Ensure it appears above other elements */
}

.feedback-button {
  background-color: #F8921D;
  /* Replace with your primary color */
  color: white;
  /* Text color */
  border: none;
  padding: 10px 20px;
  /* Adjust padding */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  /* Font size */
}


.modal-content input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 6px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

.feedback-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #ffffff;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.rating-scale {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rating-scale .rating {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rating-scale .rating.selected {
  background-color: #6bc4c4;
  color: #fff;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}



.feedback-form {
  margin: 10px;
  display: none;
  width: 80vh;

}

.feedback-form textarea {
  width: 100%;
  height: 65px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  box-sizing: border-box;
  color: #000;
}

.feedback-form button {
  padding: 6px 10px;
  background-color: #29AF9F;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.feedback-form button:hover {
  background-color: #5aa4a4;
}

/* X icon styling */
.close-icon {
  position: absolute;
  bottom: 14%;
  right: 20px;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

.close-icon:hover {
  color: #333;
}

.floating-button-internal {
  position: absolute;
  right: 15px;
  bottom: 20px;
  z-index: 1000;
  /* Ensure it appears above other elements */
}

.feedback-button-internal {
  background-color: #5aa4a4;
  /* Replace with your primary color */
  color: white;
  /* Text color */
  border: none;
  padding: 8px;
  /* Adjust padding */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  /* Font size */
}