<!DOCTYPE html>
<html class="no-js" lang="en">

{% include /sub/head.html %} 

<body class="h-100"><div id="content-home"></div>

{% include minimal-nav.html %} 

<section id="download" class="app-download style2 section-blue3">
<div class="container">
    <div class="row ">
	<div class="col-lg-8 offset-lg-2 col-md-12 col-12">
	    <div class="download-content">
		<h2 class="wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">&nbsp;
		</h2>

	    </div>
	</div>
    </div>
</div>
</section>	

<!-- Start App Screenshort Area -->
<section class="app-screenshorts style2 section-blue mt-3 mb-0">
<div class="container">
    <div class="row">	
	<div style="" class="main col col-12 col-sm-12 col-md-12 col-lg-12 order-1 order-sm-2 order-lg-1 mb-5 mt-1">

{{ content }}

	</div>
    </div>
</div>
</section>
<!-- End App Screenshort Area -->
	
	
	


{% include /sub/javascript.html %} 

</body></html>
